body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

#top {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 3fr 2fr;
  height: 30%;
  width: 100%;
  text-align: center;
  background: #f2f1f8;

}

#clock {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  align-self: center;
  font-size: 150%;
  font-weight: 300;
}

.big {
  justify-self: center;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 40vw;

}
.c100 {
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #f2f1f8;

}
.c100:after {
  content: "";
  position: absolute;
  background-image: url(../images/lunch.svg);
  /* background-color: #f2f1f8; */
  height: 0.84em;
  width: 0.84em;
  left: 0.08em;
  top: 0.08em;
  border-radius: 50%;
}

.slice {
  position: absolute;
  height: 1em;
  width: 1em;
  clip: rect(auto, auto, auto, auto);
  /*
       when width is less than 50%/ 180deg;
      clip: rect(0em, 1em, 1em, 0.5em);
    */
}
.bar {
  position: absolute;
  border: 0.08em solid rgb(136,216,176);
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(288deg);
}
.fill {
  position: absolute;
  border: 0.08em solid rgb(136,216,176);
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(180deg);
}

#scheduleContainer {
  padding: 0 10px;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f2f1f8;
  /*     background-color: aqua;
 */
}


#schedule {

  /*  background-color: aquamarine; */
  height: 2000px;
}

.dayFormat {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#today {
  padding-top: 70px;
  position: relative;
  height: 2000px;
  background-color: #fff;
  border-radius: 35px;
}

#tomorrow {
  position: relative;
  height: 300px;
/*   background: url(../images/moon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; */
  background-color: #f2f1f8;
  z-index: 1;
}

#moonContainer {
  width: 70%;
  margin: 0 auto;
}

#moon {
  margin-top: -70px;

}

.content-grower {
  flex-grow: 1;
}

.hourBlock {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  /* border-top: #00ff00 solid 1px; */
}

.currentTimeLineContainer {
  z-index: 20;
  position: absolute;
  right: 0;
  top: 1908px;
  width: 200px;
  color: #000;
}


.currentTimeLine {
  font-size: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}
.currentTimeLine::before,
.currentTimeLine::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #000;
}
.currentTimeLine::before {
  flex-grow: 4;
  margin-right: 0.25em;
}
.currentTimeLine::after {
  flex-grow: 1;
  margin-left: 0.25em;
}

.currentTimeLineOffset {
  position: absolute;
  top: -60px;
}

.hourTextContainer {
  position: absolute;
  top: -11px;
  width: 100%;
  color: #666;
}

.hourText {
  font-size: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
}
.hourText::before,
.hourText::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eee;
}
.hourText::before {
  flex-grow: 1;
  margin-right: 0.25em;
}
.hourText::after {
  flex-grow: 20;
  margin-left: 0.25em;
}

.session {
  align-self: flex-end;
  position: absolute;
  width: 270px;
  border-radius: 15px;
  background-color: rgb(136,216,176);
}

.sessionText {
  color: #fff;
  font-weight: 600;
  padding: 0;
  margin: 10px 0 0 10px;
}

#today > div:nth-last-of-type(4) {
  background-color: rgb(255,111,105);
}
#today > div:nth-last-of-type(2) {
  background-color: rgb(255,204,92);
}
#today > div:nth-last-of-type(3) {
  background-color: rgb(160, 121, 197);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@keyframes checked-anim {

    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li, a {
    margin: 75px 0 -55px 0;
    color: #000;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 100%;
  }
a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;
}


#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    right: 25px;
    background: #000;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 6;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: -7px;
    transform: rotate(135deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: -7px;
    transform: rotate(-135deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    right: 0;
    width: 110px;
    height: 110px;
    background-color: #f2f1f8;
    border-bottom-left-radius: 100%;

    z-index: 5;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim .1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}