body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto Mono", monospace;
}

#top {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 30%;
  width: 100%;
  text-align: center;
  background: #f2f1f8;
}

#clock {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 200%;
  font-weight: 300;
  
}

.big {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 40vw;

}
.c100 {
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #f2f1f8;
  margin: 0 auto 20px auto;
}
.c100:after {
  content: "";
  position: absolute;
  background-image: url(../images/lunch.svg);
  /* background-color: #f2f1f8; */
  height: 0.84em;
  width: 0.84em;
  left: 0.08em;
  top: 0.08em;
  border-radius: 50%;
}

.slice {
  position: absolute;
  height: 1em;
  width: 1em;
  clip: rect(auto, auto, auto, auto);
  /*
       when width is less than 50%/ 180deg;
      clip: rect(0em, 1em, 1em, 0.5em);
    */
}
.bar {
  position: absolute;
  border: 0.08em solid rgb(136,216,176);
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(288deg);
}
.fill {
  position: absolute;
  border: 0.08em solid rgb(136,216,176);
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(180deg);
}

#scheduleContainer {
  padding: 0 10px;
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f2f1f8;
  /*     background-color: aqua;
 */
}


#schedule {

  /*  background-color: aquamarine; */
  height: 2000px;
}

.dayFormat {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#today {
  padding-top: 70px;
  position: relative;
  height: 2000px;
  background-color: #fff;
  border-radius: 35px;
}

#tomorrow {
  position: relative;
  height: 300px;
/*   background: url(../images/moon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; */
  background-color: #f2f1f8;
  z-index: 1;
}

#moonContainer {
  width: 70%;
  margin: 0 auto;
}

#moon {
  margin-top: -70px;

}

.content-grower {
  flex-grow: 1;
}

.hourBlock {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  /* border-top: #00ff00 solid 1px; */
}

.currentTimeLineContainer {
  z-index: 20;
  position: absolute;
  right: 0;
  top: 1908px;
  width: 200px;
  color: #59968a;
}


.currentTimeLine {
  font-size: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
}
.currentTimeLine::before,
.currentTimeLine::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #59968a;
}
.currentTimeLine::before {
  flex-grow: 4;
  margin-right: 0.25em;
}
.currentTimeLine::after {
  flex-grow: 1;
  margin-left: 0.25em;
}

.currentTimeLineOffset {
  position: absolute;
  top: -60px;
}

.hourTextContainer {
  position: absolute;
  top: -11px;
  width: 100%;
  color: #666;
}

.hourText {
  font-size: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
}
.hourText::before,
.hourText::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eee;
}
.hourText::before {
  flex-grow: 1;
  margin-right: 0.25em;
}
.hourText::after {
  flex-grow: 20;
  margin-left: 0.25em;
}

.session {
  align-self: flex-end;
  position: absolute;
  width: 270px;
  border-radius: 15px;
  background-color: rgb(136,216,176);
}

.sessionText {
  color: #fff;
  font-weight: 600;
  padding: 0;
  margin: 10px 0 0 10px;
}

#today > div:nth-last-of-type(4) {
  background-color: rgb(255,111,105);
}
#today > div:nth-last-of-type(2) {
  background-color: rgb(255,204,92);
}
#today > div:nth-last-of-type(3) {
  background-color: rgb(160, 121, 197);
}