body {
  margin: 0;
  padding: 0;
  height: 100%;



  font-family: 'Roboto Mono', monospace;




}

#top {
  padding-top: 20px;
  height: 30%;
  width: 100%;
  text-align: center;
  background: #eee;
}

#clock {
  font-size: 150%;
  font-weight: 300;
}

.big {
  font-size: 1000%;
}
.c100 {
  position: relative;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto;
}
.c100:after {
  content: "";
  position: absolute;
  background-color: #f5f5f5;
  height: 0.84em;
  width: 0.84em;
  left: 0.08em;
  top: 0.08em;
  border-radius: 50%;
} 

.slice {
  position: absolute;
  height: 1em;
  width: 1em;
  clip: rect(auto, auto, auto, auto);
  /*
       when width is less than 50%/ 180deg;
      clip: rect(0em, 1em, 1em, 0.5em);
    */
}
.bar {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(288deg);
}
.fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  transform: rotate(180deg);
} 

#scheduleContainer {
    padding-top: 30px;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
/*     background-color: aqua;
 */}

#schedule {
 /*  background-color: aquamarine; */
  height: 2000px;

}

.dayFormat {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#today {
  position: relative;
  height: 2000px;
}

#tomorrow {
  height: 700px;
  background: url(../images/moon.jpeg); 
  background-size: cover;
  background-position: center;
}

.content-grower {
  flex-grow: 1;
}

.hourBlock {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-top: #eee solid 2px;
}

.separatorContainer {
  position: absolute;
  top: 1908px;
  width: 200px;
  color: #307bbb;
}

.separator {
  font-size: 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #307bbb;
}
.separator::before {

  margin-right: .25em;
}
.separator::after {
  flex-grow: 4;
  margin-left: .25em;
}